@use 'sass:math';

.p-steps {
  .p-steps-item {

    .p-menuitem-link {
      cursor: pointer !important;
      background: transparent;
      transition: $listItemTransition;
      border-radius: $borderRadius;
      background: $stepsItemBg;

      .p-steps-number {
        color: $stepsItemNumberColor;
        border: $stepsItemBorder;
        background: $stepsItemBg;
        min-width: $stepsItemNumberWidth;
        height: $stepsItemNumberHeight;
        line-height: $stepsItemNumberHeight;
        font-size: $stepsItemNumberFontSize;
        z-index: 1;
        border-radius: $stepsItemNumberBorderRadius;
      }

      .p-steps-title {
        margin-top: $inlineSpacing;
        color: $stepsItemTextColor;
      }

      &:not(.p-disabled):focus-visible {
        @include focused();
      }
    }

    &.p-highlight {
      .p-steps-number {
        background: $highlightBg;
        color: $highlightTextColor;
      }

      .p-steps-title {
        font-weight: $stepsItemActiveFontWeight;
        color: $textColor;
      }
    }

    &:not(:first-child) {
      &:before {
        content: ' ';
        border-top: $divider;
        width: 100%;
        top: 50%;
        left: 0;
        display: block;
        position: absolute;
        margin-top: math.div(-1 * $stepsItemNumberHeight, 2);
      }
    }

    &:last-child {
      &:before {
        width: 50% !important;
      }
    }

    &:first-child {
      &:before {
        content: ' ';
        border-top: $divider;
        top: 50%;
        width: 50%;
        right: 0;
        display: block;
        position: absolute;
        margin-top: math.div(-1 * $stepsItemNumberHeight, 2);
      }
    }
  }
}

@media screen and (max-width: 1200px) {

  .p-steps-title {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 576px) {

  .p-steps-title {
    font-size: 1px !important;
    line-height: 20px;
    opacity: 0 !important;
  }
}
